<div class="jumbotron">
    <h1 class="display-4">{{ post.name }}</h1>
    <p class="lead">{{post.description}}</p>
    <hr class="my-4">
    <p>{{post.observation}}</p>
    <h4>Comment</h4>
    <ul>
        <li *ngFor="let c of post.comments">
            <p>{{ c.comment }}</p>
            <p><small><strong>Public for: {{ c.name}}</strong></small> </p>
            <p>{{c.date | date }}</p>
        </li>
    </ul>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Add comment
    </button>    
</div>

<!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input id="name" [(ngModel)]="name" name="name" type="text" class="form-control"  placeholder="Name">
                  <small id="name-small" class="form-text text-muted">Complet the name</small>
                </div>
                <div class="form-group">
                    <label for="name">Comment</label>
                    <textarea type="text" [(ngModel)]="comment" name="comment" class="form-control" id="comment" placeholder="Post"></textarea>                
                    <small id="comment-small" class="form-text text-muted">Complet the comment</small>
                </div>   
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button (click)="send()" type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
